src/main/mule/uam-callSfUserRole-impl.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <configuration-properties file="mule-artifact.properties"/>
    <http:request-config doc:id="66cdd2e2-7381-4b94-8f43-81f96cab9b5c" doc:name="HTTP Request" doc:timestamp="1608254810251" name="http_request_userRole"/>
    <flow doc:id="33588e90-7ca0-4091-91f9-e23de683b90d" doc:name="New Flow" doc:timestamp="1608254597780" name="callToUserRoleFlow">
        <http:request config-ref="http_request_userRole" doc:id="be9f043e-00b8-4d54-8fb2-290d037c32bb" doc:name="http_request_userRole" doc:timestamp="1609295325533" url="https://here2serve--dev1auamv1.my.salesforce.com/services/data/v50.0/query" method="GET">
			<http:body ><![CDATA[payload]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : payload.token_type as String ++ " " ++ payload.access_token as String,
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"q" : "select Id, Name, DeveloperName FROM UserRole"
}]]]></http:query-params>
		</http:request>
		
		<logger level="INFO" doc:name="Logger" doc:id="cb052c8a-2d3a-429c-a3e0-1cf36914f3a6" />
		<ee:transform doc:name="Transform Message" doc:id="b5b3dd4c-b9d9-4541-8246-b6c5df9405fd" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
---
{
	totalSize: payload.totalSize,
	done: payload.done,
	records: payload.records map ( record , indexOfRecord ) -> {
		attributes: record.attributes,
		Id: record.Id,
		Name: record.Name,
		DeveloperName: record.DeveloperName
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a2d9e0a3-d3e2-44cf-9385-ce20174b5db2" />
    
</flow>
</mule>
